@import "styles";

.dashboard {
	display: flex;
	flex-wrap: wrap;
}
.dashboard-column {
	width: calc(50% - 20px);
	margin: 10px;
	@media screen and (max-width: $screen-size-desktop) {
		width: 100%;
		margin: 10px 0px;
	}
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.dashboard-inner-item {
	height: 300px;
}

.card-title {
	color: $font-color-dark;
	font-weight: 600;
	font-size: $font-size-xl;
	display: flex;
	align-items: center;
	height: 64px;
}

.card {
	padding: 0 $spacing-xl $spacing-m;
}

.app-list {
	list-style: none;
	padding: 0;
	margin: 0;
	color: $font-color-dark;
}
.mat-elevation-z1 {
	color: $font-color-dark;
}
.warning-item,
.message-item {
	display: flex;
	align-items: center;
	gap: $spacing-s;
	margin-bottom: $spacing-m;
	:last-of-type {
		margin-bottom: 0;
	}
	mat-icon {
		width: 24px;
		font-size: 24px;
		background-color: $accent-2;
		color: $base-color;
		border-radius: 45px;
	}
	color: $font-color-dark;
}

.message-pike {
	display: block;
	@media screen and (max-width: $screen-size-desktop) {
		display: none;
	}
}

.table {
	width: 100% !important;
}

.table-icon {
	mat-icon {
		color: $accent-2;
	}
}

.table-item {
	color: $font-color-dark;
	text-align: center;
	padding: 0 $spacing-s;
	@media screen and (max-width: $screen-size-desktop) {
		padding: 0 !important;
		font-size: $font-size-xs;
	}
}

.table-row {
	height: 36px !important;
	width: auto;
	margin-bottom: $spacing-m;
	@media screen and (max-width: $screen-size-desktop) {
		display: flex;
		height: 24px !important;
		padding: 0 !important;
		margin: 0;
	}
}

.table-header {
	text-transform: uppercase;
	font-weight: 600;
}

.table-border {
	border: none;
	border-right: 1px solid rgba($font-color-dark, 0.2);
	&:last-of-type {
		border: none;
	}
}

.message-item {
	justify-content: space-between;
	mat-icon {
		width: 36px;
		height: 32px;
		font-size: 36px;
		color: $accent-3;
		border-radius: 0px;
		background-color: transparent;
	}
}

.pin-icon {
	mat-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		font-size: 18px;
		border-radius: 45px;
		color: $base-color-darker;
		background-color: $disabled-dark;
	}
}

.disabled-icon {
	mat-icon {
		color: $disabled-dark;
		background-color: $base-color-darker;
	}
}
.warning-icon {
	mat-icon {
		width: 24px;
		font-size: 24px;
		border-radius: 45px;
		color: $base-color;
		background-color: $alert;
	}
}

.sent-icon {
	mat-icon {
		width: 36px;
		height: 32px;
		font-size: 36px;
		color: $alert;
		border-radius: 0px;
		background-color: transparent;
	}
}
