<div class="dashboard">
	<div class="dashboard-column">
		<card title="Warnings">
			<div slot="noncloseable">
				<app-list>
					<li *ngFor="let warning of warnings">
						<warning-list-item
							[warning]="warning"
						></warning-list-item>
					</li>
				</app-list>
			</div>
		</card>
		<card title="New messages" [closeable]="true"
			><div slot="closeable">
				<app-list>
					<li *ngFor="let message of newMessages">
						<message-list-item
							[message]="message"
							(changePinState)="onChangePinState($event)"
						></message-list-item>
					</li>
				</app-list>
			</div>
		</card>
		<card title="Pinned messages" [closeable]="true"
			><div slot="closeable">
				<app-list>
					<li *ngFor="let message of pinnedMessages">
						<message-list-item
							[message]="message"
							(changePinState)="onChangePinState($event)"
						></message-list-item>
					</li>
				</app-list>
			</div>
		</card>
	</div>
	<div class="dashboard-column">
		<card title="Roster"><div slot="noncloseable">Roaster List</div> </card>
		<card title="Change requests | RECIEVED"
			><div slot="noncloseable">
				<app-table
					#table
					[items]="recievedChangeRequests"
					[displayedColumns]="recievedChangeRequestsColumns"
					[columnConfigs]="recievedChangeRequestsColumnsConfigs"
				>
				</app-table>
			</div>
		</card>
		<card title="Change requests | SENT"
			><div slot="noncloseable">
				<app-table
					[items]="sentChangeRequests"
					[displayedColumns]="sentChangeRequestsColumns"
					[columnConfigs]="sentChangeRequestsColumnsConfigs"
				>
				</app-table>
			</div>
		</card>
		<card title="Hours" [closeable]="true"
			><div slot="closeable">
				<div slot="noncloseable">
					<app-table
						[items]="hours"
						[displayedColumns]="hoursColumns"
						[columnConfigs]="hoursColumnsConfigs"
					>
					</app-table>
				</div>
			</div>
		</card>
	</div>
</div>
