<nav class="nav-bar">
	<div class="nav-bar--user--desktop">
		<user-info-bar
			[user]="currentUser"
			(onUserRoleChange)="updateUserRole($event)"
		></user-info-bar>
	</div>
	<div>
		<mat-icon
			aria-hidden="false"
			aria-label="person"
			fontIcon="person"
		></mat-icon>
	</div>
	<div>
		<mat-icon
			aria-hidden="false"
			aria-label="notifications"
			fontIcon="notifications"
		></mat-icon>
	</div>
</nav>
<div class="nav-bar--user--mobile">
	<corner-piece></corner-piece>
	<div>
		<user-info-bar
			[user]="currentUser"
			(onUserRoleChange)="updateUserRole($event)"
		></user-info-bar>
	</div>
</div>
