@import "styles";
.corner-piece {
	left: 0px;
}
.nav-bar {
	@include flex;
	@include flex-end;
	gap: 7px;
	height: 70px;
	padding: 0 $spacing-l;
	background-color: $primary-color;
	color: $font-color-light;

	&--user {
		&--mobile {
			position: relative;
			background-color: $base-color-darker;
			color: $font-color-dark;
			padding: $spacing-xs $spacing-l;
			display: none;
			::ng-deep .corner-piece:first-of-type {
				left: 0px !important;
			}
		}
	}
	@media screen and (max-width: $screen-size-desktop) {
		&--user--desktop {
			display: none;
		}
		&--user--mobile {
			@include flex;
			@include flex-space-between;
		}
	}
}

.user-info-bar {
	position: relative;
	cursor: pointer;
	user-select: none;
	&--info {
		@include flex;
		gap: 4px;
		&--name {
			font-weight: 600;
		}
		&--name,
		&--role {
			font-size: $font-size-xl;
		}
		mat-icon {
			font-size: 18px;
			width: 18px;
			height: auto;
		}
		@media screen and (max-width: $screen-size-desktop) {
			&--name {
				font-size: $font-size-s;
			}
			&--role {
				font-size: $font-size-xs;
			}
			mat-icon {
				font-size: 12px;
				width: 12px;
				height: auto;
			}
		}
	}
}

.user-roles-dropdown {
	position: absolute;
	top: 44px;
	right: 0px;
	z-index: 2;
	background-color: $primary-color;
	border-radius: 0px 0px 4px 4px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		cursor: pointer;
		font-size: $font-size-l;
		padding: $spacing-xs $spacing-xl;
		&:hover {
			background-color: $accent-2;
		}

		@media screen and (max-width: $screen-size-desktop) {
			padding: $spacing-xs $spacing-l;
			font-size: $font-size-xs;
			&:hover {
				background-color: $accent-1;
			}
		}
	}
	li:last-of-type {
		border-radius: 0px 0px 4px 4px;
	}

	@media screen and (max-width: $screen-size-desktop) {
		background-color: $base-color-darker;
		top: 27px;
	}
}

.user-role-selected {
	background-color: $accent-2;
	@media screen and (max-width: $screen-size-desktop) {
		background-color: $accent-1;
	}
}
