@import "styles";
.main {
	position: fixed;
	z-index: 2;
	height: calc(100vh - 70px - $spacing-l);
	width: calc(100% - 70px - $spacing-xl);
	margin-left: calc(70px + $spacing-l);
	overflow: auto;

	@media screen and (max-width: $screen-size-desktop) {
		margin-left: $spacing-xl;
		height: calc(100vh - 90px - $spacing-xl * 2);
		width: calc(100% - $spacing-xl * 2);
		top: 100px;
	}
}
mat-sidenav-container {
	height: 100vh;
}

mat-sidenav {
	background-color: $base-color-blue;
}
