@import "styles";
.main {
	position: fixed;
	top: 80px;
	left: 70px;
	margin: calc($spacing-large * 2);

	@media screen and (max-width: $screen-size-desktop) {
		left: auto;
		top: 100px;
		margin: $spacing-large;
	}
}
mat-sidenav-container {
	height: 100vh;
}
