<div *ngIf="!closeable">
	<mat-card appearance="outlined">
		<div class="card-title">{{ title }}</div>
		<ng-content select="[slot='noncloseable']"></ng-content>
	</mat-card>
</div>
<div *ngIf="closeable">
	<mat-accordion>
		<mat-expansion-panel expanded="true" class="expansion-panel">
			<mat-expansion-panel-header>
				<mat-panel-title class="card-title">
					{{ title }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<ng-content select="[slot='closeable']"></ng-content>
		</mat-expansion-panel>
	</mat-accordion>
</div>
